.wbounce-modal {
	z-index: 9999;
	overflow: scroll;
}
.wbounce-modal .modal {
	max-width: 95%;
}
.wbounce-modal form input[type=email] {
  padding: 12px;
  font-size: 1.2em;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
  -webkit-font-smoothing: antialiased;
}