.wbounce-modal {
	z-index: 9999;
	overflow: scroll;
  .modal {
    max-width: 95%;
  }
  h4 {
    font-size: 1.25em;
    margin: 10px 0;
    a {
      text-decoration: none;
    }
  }
  p {
    line-height: 1.4em;
  }
  form input[type=email] {
    color: #999;
    padding: 12px;
    font-size: 15px;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-font-smoothing: antialiased;
  }
  form input[type=submit] {
    background-image: none;
  }
}